[submodule "submodules/mr_sim"]
	path = submodules/mr_sim
	url = git@github.com:danielabrahamgit/mr_sim.git
[submodule "submodules/optimized_mrf_dict"]
	path = submodules/optimized_mrf_dict
	url = git@github.com:yonatanu/optimized-mrf-dict.git
[submodule "submodules/igrog"]
	path = submodules/igrog
	url = git@github.com:danielabrahamgit/igrog.git
